<div class="container-fluid" >
  <div class="row">
    <section  class="bg-fancy">
    <div class="mask d-flex justify-content-center align-items-center">
      <div class="container py-5 my-5">
        <h3 class="font-weight-bold text-center white-text pb-2">Welcome</h3>
        <p class="lead text-center white-text pt-2 mb-5">Keep track of Quraan recitation</p>
        <div class="row d-flex align-items-center justify-content-center">
          <div class="col-md-6 col-xl-5">
            <div class="card" *ngIf="acceptInviteForm">
              <form [formGroup]="acceptInviteForm">
                <app-spinner *ngIf="isValidatingCode"></app-spinner>                
                <div class="md-form">
                  <i class="fa fa-code prefix"></i>
                  <input 
                    type="text"
                    class="form-control"
                    placeholder="Invite Code"
                    formControlName="inviteCode"
                    maxlength="8"
                    oninput="this.value = this.value.toUpperCase()" />
                </div>
                <ng-container *ngIf="inviteCodeControl.disabled"> 
                  <div class="md-form" >
                    <i class="fa fa-user prefix"></i>
                    <input 
                      type="text"
                      class="form-control"
                      placeholder="Enter Name"
                      formControlName="username"
                      />
                  </div>
                  <div class="col-md-12 text-center">
                    <button 
                    [disabled]="!acceptInviteForm.valid"
                    class="btn btn-success"
                    (click)="enterRoom()"
                    >Enter</button>  
                  </div>
                </ng-container>
              </form>
            </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  </div>
