<div class="width:100%" style="padding-left: 40px;">
   <div class="card">
     <div class="image">
       <img src="http://loremflickr.com/320/150?random=5" />
     </div>
     <div class="card-inner">
       <div class="header">
         <h2>{{title}}</h2>
         <h3>Created by {{subtitle}}</h3>
     </div>
     <div class="content">
        <p>{{content}}</p>
      </div>
        <div class="actions">
          <ng-container *ngFor ="let action of actions">
            <button class="btn btn-success" [routerLink]="['../efforts/1']">{{action.actionText}}</button>
          </ng-container>
        </div>
       </div>
   </div>
 </div>