<div class="container-fluid h-100vh" style="height: 100%;">
    <div class="row h-100">
      <div class="w-100 h-100 m-auto flex-center">

        <div class="spinner-border circle-radius-205 p-absolute" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="card circle circle-radius-200">
          <div class="card-body flex-center">
  
            <!-- Title -->
            <!-- <img id="logo" src="https://mdbootstrap.com/img/Marketing/other/logo/logo-mdb-vue-small.png" alt="MDB Logo"> -->
  
          </div>
  
        </div>
      </div>
    </div>
  </div>