<div class="container" *ngIf="groups">    
    <div class="row">
        <ng-container *ngFor="let group of groups; let i = index">
        <app-card 
            [title]="group.groupName"
            [subtitle]="group.groupOwner"
            [content]="group.groupIntention"
            [actions]="[cardActions[i]]"
            >
        </app-card>
        </ng-container>
    </div>
</div>

<div class="container" *ngIf="!groups || !groups.length">
    <div class="row">
        <div class="col-md-12">Please Join A Group</div>
    </div>
</div>