<div class="container mt-5" [ngClass]="{'right-panel-active':showSignUp}" id="container" >
  <div class="form-container sign-up-container mt-2">
    <form [formGroup]="signupForm">
      <h1 class="font-weight-bold">Create Account</h1>
      <div class="social-container">
        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <input type="text"  formControlName="signupUsername" placeholder="Username" />
      <input type="email" formControlName="signupEmail" placeholder="Email" />
      <input type="password" formControlName="signupPassword" placeholder="Password" />
      <button class="btn btn-info btn-rounded" (click)="signUp()">Sign up</button>
    </form>
  </div>

  <div class="form-container sign-in-container">
    <form [formGroup]="signinForm">
      <h1 class="font-weight-bold">Sign in</h1>
      <div class="social-container">
        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <span>or use your account</span>
      <input type="email" placeholder="Email" />
      <input type="password" placeholder="Password" />
      <button class="btn btn-info btn-rounded " (click)="signIn()">Sign In</button>
    </form>
  </div>

  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1 class="font-weight-bold">Good to see you!</h1>
        <p>You already have an account? <br>Sign in!</p>
        <button class="but" id="signIn" (click)="showSignUp=false">Sign In</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1 class="font-weight-bold">Hello, Friend!</h1>
        <p>You don't have account yet? Don't worry! You still can join us</p>
        <button class="but" id="signUp" (click)="showSignUp=true">Sign Up</button>
      </div>
    </div>
  </div>
</div>